/* шапка 

веб студия #000000

белый #ffffff 

синий #2196f3

черный #2f303a
*/

/* заголовки черный   #212121
текст серый           #757575 */

/* наша команда секция  

background: #f5f4fa; */

/*  Подвал

#ffffff прозрачность 60 %
 */

 /* основной #212121
 вторичный #757575
 акцент rgba(255, 255, 255, 0.6);*/

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --white-text-color: #ffffff;
    --contact-text-color: rgba(255, 255, 255, 0.6);
    --logo-text-color:#000000;
    --bg-hero-color:#2f303a;
    --bg-team-color:#f5f4fa;
}

body {

background-color: var(--white-text-color);
color: var(--primary-text-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
}


/*  logo */

.logo,
.logo-white{
    color:var(--logo-text-color);
    font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
}

.logo-web{
    color:var(--accent-text-color);
}

.page-header .logo:hover,
.page-header .logo:focus{
    color:var(--accent-text-color);
}

.list{
    list-style: none;
    text-decoration: none;
}

/* site-nav */

.site-nav .link{
    color:var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-text-color);
}

.site-nav .link.current{
    color:var(--accent-text-color);
}

/* adress-nav */

.adress-nav .link{
    color:var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}

.adress-nav .link:hover,
.adress-nav .link:focus{
color: var(--accent-text-color);
}


/* h */

.section .section-title{
    color:var(--title-text-color);
}

.section.clients .section-title{
background-color: var(--bg-hero-color);
}

.clients .section-title{
    color:var(--white-text-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

/* practice */ 

.section.practice .section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section.practice .text {
    font-size: 14px;
    line-height: 1.7;
}

/* Work */

.section.work .section-title,
.section.fon .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


/* our team */

.section.fon{
    background-color: var(--bg-team-color);
}

.list.team .section-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.list.team .text{
    font-size: 16px;
        line-height: 1.9;
        text-align: center;
}

/* footer */

.footer{
    background-color: var(--title-text-color);
    color:var(--white-text-color);
}

.logo-white{
color:var(--white-text-color);
}

.footer .logo-white:hover,
.footer .logo-white:focus{
    color:var(--accent-text-color);
}

.footer .footer-mail{
    color:var(--contact-text-color);
    text-decoration: none;
}

.footer .footer-mail:hover,
.footer .footer-mail:focus{
    color:var(--accent-text-color);
}

.footer .footer-tel{
    color: var(--contact-text-color);
    text-decoration: none;
}

.footer .footer-tel:hover,
.footer .footer-tel:hover{
    color: var(--accent-text-color);
}

.footer .text-footer,
.footer .footer-mail,
.footer .text-tel{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
}


/* Button */

.button{
    background-color: var(--white-text-color);
    color:var(--title-text-color);
    cursor: pointer;
}

.button.primary {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}

.button.primary:hover,
.button.primary:focus{
    color: var(--white-text-color);
}

.filtre .btn-filtre{
    color:var(--title-text-color);
    background-color: var(--bg-team-color);
}

.filtre .btn-filtre:hover,
.filtre .btn-filtre:focus{
    color: var(--accent-text-color);
}