/* шапка 

веб студия #000000

белый #ffffff 

синий #2196f3

черный #2f303a
*/

/* заголовки черный   #212121
текст серый           #757575 */

/* наша команда секция  

background: #f5f4fa; */

/*  Подвал

#ffffff прозрачность 60 %
 */

 /* основной #212121
 вторичный #757575
 акцент rgba(255, 255, 255, 0.6);*/

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --white-text-color: #ffffff;
    --contact-text-color: rgba(255, 255, 255, 0.6);
    --logo-text-color:#000000;
    --bg-hero-color:#2f303a;
    --bg-team-color:#f5f4fa;
}

body {

background-color: var(--white-text-color);
color: var(--primary-text-color);
}


/*  logo */

.logo{
    color:var(--logo-text-color);
}

.logo-web{
    color:var(--accent-text-color);
}

.page-header .logo:hover,
.page-header .logo:focus{
    color:var(--accent-text-color);
}

.list{
    list-style: none;
}

/* site-nav */

.site-nav .link{
    color:var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-text-color);
}

.site-nav .link.current{
    color:var(--accent-text-color);
}

/* adress-nav */

.adress-nav .link{
    color:var(--primary-text-color);
}

.adress-nav .link:hover,
.adress-nav .link:focus{
color: var(--accent-text-color);
}

/* h */

.section .section-title{
    color:var(--title-text-color);
}

.section.clients{
background-color: var(--bg-hero-color);
}

.clients > .section-title{
    color:var(--white-text-color);
}



/* our team */

.section.fon{
    background-color: var(--bg-team-color);
}

/* footer */

.footer{
    background-color: var(--title-text-color);
    color:var(--white-text-color);
}

.logo-white{
color:var(--white-text-color);
}

.footer .logo-white:hover,
.footer .logo-white:focus{
    color:var(--accent-text-color);
}

.footer .footer-mail{
    color:var(--contact-text-color);
}

.footer .footer-mail:hover,
.footer .footer-mail:focus{
    color:var(--accent-text-color);
}

.footer .footer-tel{
    color: var(--contact-text-color);
}

.footer .footer-tel:hover,
.footer .footer-tel:hover{
    color: var(--accent-text-color);
}

/* Button */

.button{
    background-color: var(--white-text-color);
    color:var(--title-text-color);
}

.button.primary {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}

.button.primary:hover,
.button.primary:focus{
    color: var(--white-text-color);
}

.filtre .btn-filtre{
    color:var(--title-text-color);
    background-color: var(--bg-team-color);
}

.filtre .btn-filtre:hover,
.filtre .btn-filtre:focus{
    color: var(--accent-text-color);
}

.test-link:hover,
.test-link:focus{
    color:green;
}

.test-link:active{
    color:red;
}